---
import Layout from "../layouts/Layout.astro";
import Auth from "../components/Auth.svelte";
---
<Layout title="Google Inspirado">
	<nav class="top-nav">
		<div class="nav-links">
			<a href="#" data-i18n="gmail">Gmail</a>
			<a href="#" data-i18n="images">Imágenes</a>
			<button class="apps-button" aria-label="Aplicaciones de Google">
				<span class="material-icons">apps</span>
			</button>
			<div>
				<Auth client:load />
			</div>
		</div>
	</nav>

	<div class="main-container">
		<div class="logo">
			<img src="/assets/images/googlelogo_color_272x92dp.png" alt="Google" />
		</div>

		<div class="search-bar">
			<span class="material-icons search-icon">search</span>
			<input
				type="text"
				id="search-input"
				name="q"
				data-i18n="[placeholder]searchPlaceholder"
				placeholder="Buscar en Google"
			/>
			<span class="material-icons mic-icon">mic</span>
		</div>

		<div class="search-buttons">
			<button data-i18n="searchButton">Buscar con Google</button>
			<button data-i18n="luckyButton">Voy a tener suerte</button>
		</div>
	</div>

	<footer class="footer">
		<p>
			<span data-i18n="footerInspired">Google Inspirado</span> © <span
				id="current-year">2024</span
			>
		</p>
		<div class="footer-links">
			<a href="#" data-i18n="footerAd">Publicidad</a>
			<a href="#" data-i18n="footerBusiness">Negocios</a>
			<a href="#" data-i18n="footerPrivacy">Privacidad</a>
			<a href="#" data-i18n="footerTerms">Términos</a>
		</div>
	</footer>
</Layout>
